/* Color Palette: http://templatesforweb.github.io/academy */
/* General rules */
html, body {
  margin:0;
  padding:0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
}

block {
  position: relative;
  display: inline-block;
  width:100%;
  left:0;
  top:0;
  height: 70px;
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.page-title {
  position: relative;
  display: inline-block;
  width:100%;
  line-height: 150px;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 40px;
  color:#2496E2;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.origen-diafhmish {
  position: relative;
  width:60%;
  left:20%;
  height: 250px;
  background-color: #263238;
  color:#2496E2;
}
@media screen and (max-width:920px){
  .origen-diafhmish {
    width:80%;
    left:10%;
  }
}
